.row
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .row.first-info
      .col-xs-12.text-center
        .panel.panel-info.info-description
          #main-panel-info
            h1 About MapTweet.Info
          h5.main-info.text-left
            | This app uses your twitter authentication to make twitter API search requests.
          h5.main-info.text-left
            | The app requires twitter authentication since twitter API v1.1 requires user authentication when requesting tweets using 
            a(href="http://en.wikipedia.org/wiki/Geolocation") geolocation
            |.

          h3 Author:
          h4
            a(href="http://www.twitter.com/hartzis", target="_blank") @hartzis
          h3 Github:
          h4
            a(href="https://github.com/hartzis/MapTweet.info", target="_blank") Fork me on Github