.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    h3.text-center Search History
    .row
      .col-xs-12.text-center
        img(ng-src="{{user.twitter.profile_image_url}}", alt="")
        h5 @{{user.screen_name}}
    .row.history-filter(ng-show="user.geo_searches.length != 0")
      .col-xs-8.col-sm-9
        .input-group
            span.input-group-addon Filter:
            input.form-control(ng-model="searchHistory")
      .col-xs-4.col-sm-3.text-center
        button(type="button", ng-click="openConfirmRemoveAll()", ng-disabled="submittingRemoveAll").btn.btn-danger.btn-sm
          span.glyphicon.glyphicon-remove
          |&nbspRemove All
    .row.well(ng-show="user.geo_searches.length === 0")
      .col-xs-12.text-center
        h3 No Search History
        h5 Go Search for some tweets!
        h5
          a.search-form-btns(href="/") 
            span.glyphicon.glyphicon-search
            |&nbspSearch 
    .row(ng-repeat="search in user.geo_searches | filter:searchHistory | orderBy: 'lastSearched':true")
      .col-xs-12.col-sm-10.col-sm-offset-1.well.history-well
        div.btn-group.pull-right
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
            span.glyphicon.glyphicon-cog &nbsp
            span.caret
          ul.dropdown-menu.history-menu(role='menu')
            li
              a.history-menu(ng-click="performSearch(search)")
                span.glyphicon.glyphicon-globe &nbsp
                span Search
            li
              a.history-menu(ng-click="copyToSearch(search)")
                span.glyphicon.glyphicon-log-in &nbsp
                span Copy
            li.divider
            li
              a.history-menu(ng-click="removeSearch(search)")
                span.glyphicon.glyphicon-remove &nbsp
                span Remove
        .h4.form-inline
          //- .label.label-info {{search.location}}
          button(ng-click="performSearch(search)").btn.btn-info
            span.glyphicon.glyphicon-globe
            |&nbsp{{search.location}}
        .h5.form-inline Search Query: 
          .label.label-default {{search.query}}
        .h6 Latitude: 
          .label.label-default {{search.latitude}} 
          | &nbspLongitude: 
          .label.label-default {{search.longitude}}
          | &nbsp&nbspRadius: 
          .label.label-default {{search.radius}} {{search.radiusUnit}}
          | &nbsp&nbspTweet Count: 
          .label.label-default {{search.count}}
script(type="text/ng-template", id="confirmRemoveAll.html")
  .modal-body.text-center
    h4 Please Confirm Remove All Search History
  .modal-footer
    button(type="button", ng-click="confirmRemoveAll()").btn.btn-primary.btn-sm
      span.glyphicon.glyphicon-ok
      |&nbspConfirm
    button(type="button", ng-click="cancel()").btn.btn-danger.btn-sm
          span.glyphicon.glyphicon-remove
          |&nbspCancel