.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    h3.text-center Search History
    .row
      .col-xs-12.text-center
        img(ng-src="{{user.twitter.profile_image_url}}", alt="")
        h5 @{{user.screen_name}}
    .row.history-filter(ng-show="user.geo_searches.length != 0")
      .col-xs-12
        .row
          .col-xs-8.col-sm-9
            .input-group
                span.input-group-addon Filter:
                input.form-control(ng-model="searchHistory")
          .col-xs-4.col-sm-3.text-center
            button(type="button", ng-click="openConfirmRemoveAll()", ng-disabled="submittingRemoveAll").btn.btn-danger.btn-sm
              span.glyphicon.glyphicon-remove
              |&nbspRemove All
    .row.well(ng-show="user.geo_searches.length === 0")
      .col-xs-12.text-center
        h3 No Search History
        h5 Go Search for some tweets!
        h5
          a.search-form-btns(href="#/") 
            span.glyphicon.glyphicon-search
            |&nbspSearch 
    search-history(geo-searches="user.geo_searches", search-filter="searchHistory")
script(type="text/ng-template", id="confirmRemoveAll.html")
  .modal-body.text-center
    h4 Please Confirm Remove All Search History
  .modal-footer
    button(type="button", ng-click="confirmRemoveAll()").btn.btn-primary.btn-sm
      span.glyphicon.glyphicon-ok
      |&nbspConfirm
    button(type="button", ng-click="cancel()").btn.btn-danger.btn-sm
          span.glyphicon.glyphicon-remove
          |&nbspCancel