.row.row-offcanvas.row-offcanvas-left
  p.pull-left.visible-xs
    button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle
  #sidebar.col-xs-6.col-sm-2.sidebar-offcanvas.sidebar(role='navigation')
    ul.nav.nav-sidebar
      li.nav-header GlupT Options
      li.active
        a(href='#') Search
      li
        a(href='#') GeoTweets
          span.badge.pull-right 25
      li
        a(href='#') All tweets in Area
          span.badge.pull-right 45
    //- .list-group.text-center
    //-   a.list-group-item.active(href='#') Search
    //-   a.list-group-item(href='#') GeoTweets
    //-   a.list-group-item(href='#') All tweets in Area

  .col-xs-12.col-sm-4
    .row
      .col-xs-12
        h3 Search for Tweets by Location
    .row
      .col-xs-12
        form(name="locationInput")
          input.form-control(type="text", name="location", ng-model="search.address", required="", placeholder="Location to find GeoTweets", typeahead="address for address in queryAddresses($viewValue)", typeahead-loading="loadingLocations", autocomplete="off")
          i(ng-show="loadingLocations" class="glyphicon glyphicon-refresh")
    .row
      .col-xs-12.text-center
        button.btn.btn-sm.btn-success(ng-href="#", ng-disabled="locationInput.$invalid", ng-click="getGeo(search.address)") Get Lat/Lng
    .row
      form(name="searchForm")
        .col-xs-6
          input.form-control(type="text", name="lat", ng-model="search.latitude", required="", placeholder="Latitude", disabled="disabled")
        .col-xs-6
          input.form-control(type="text", name="lng", ng-model="search.longitude", required="", placeholder="Longitude", disabled="disabled")
    .row
      .col-xs-12.text-center
        button.btn.btn-sm.btn-success(ng-href="#", ng-disabled="searchForm.$invalid", ng-click="") Search Twitter

  .col-xs-12.col-sm-6
    .row
      .col-sm-12
        img(src="http://placehold.it/500x400", alt="").img-responsive