.row
  .col-sm-12
    .row
      .col-sm-12
        form(action='', method='POST', role='form')
          legend Form title
          .form-group
            label(for='') label
            input.form-control(type='text', placeholder='Input field')
          button.btn.btn-primary(type='submit') Submit 
          