.row.text-center.search-window
  .col-xs-12.col-sm-6.col-sm-offset-3.main-columns
    .row
      .col-xs-12
        h3 Search for Tweets by Location
    .row
      .col-xs-12.text-left
        form(name="locationInput")
          input.form-control(type="text", name="location", ng-model="search.location", required="", placeholder="Location to find GeoTweets", typeahead="location for location in queryLocations($viewValue)", typeahead-loading="loadingLocations", autocomplete="off")
          i.glyphicon.glyphicon-refresh(ng-show="loadingLocations")
    .row
      .col-xs-12.text-center
        button.btn.btn-sm.btn-primary(ng-href="#", ng-disabled="locationInput.$invalid", ng-click="getGeo(search.location)") Get Lat/Lng 
          span.glyphicon.glyphicon-globe
    .row
      .col-xs-12
        form(name="searchForm")
          .row
            .col-xs-6
              input.form-control(type="text", name="lat", ng-model="search.latitude", required="", placeholder="Latitude", disabled="disabled")
            .col-xs-6
              input.form-control(type="text", name="lng", ng-model="search.longitude", required="", placeholder="Longitude", disabled="disabled")
          .row
            .col-xs-12
              button(type="button", ng-click="getCurrentLocation()").btn.btn-sm.btn-primary {{search.useCurrentLocation}} 
                span.glyphicon.glyphicon-globe
          .input-group
            span.input-group-addon Radius:
            input.form-control(type='text', placeholder="Ex:'5'" ng-model="search.radius")
            .input-group-btn
              button.btn.btn-default(tabindex='-1', type='button', disabled="disabled") {{search.radiusUnit}}
              button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                span.caret
                span.sr-only Toggle Dropdown
              ul.dropdown-menu.pull-right.radius-unit
                li
                  button(tabindex='0', ng-click="changeRadiusUnit('Km')").btn.btn-default Km
                li
                  button(tabindex='0', ng-click="changeRadiusUnit('Mi')").btn.btn-default Mi
          hr
          .row
            .col-xs-12
              input.form-control(type="text", name="query", ng-model="search.query", required="", placeholder="from:jimcramer #MSFT")
              span.help-block Your Search Query - A UTF-8, URL-encoded search query of 1,000 characters maximum, including operators. Queries may additionally be limited by complexity.Example: @noradio.
                a(href="https://dev.twitter.com/docs/using-search", target="_blank").btn.btn-link Search Query Format Help

    .row
      .col-xs-12.text-center
        button.btn.btn-sm.btn-primary(ng-href="search/12345", ng-disabled="searchForm.$invalid", ng-click="submitSearch()") Search Twitter
