.row.text-center.search-window
  .col-xs-12.col-sm-7.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-5.col-lg-offset-3.main-columns
    .row
      .col-xs-12
        h3 Search for Tweets by Location
        h5 Enter the location you would like to search in the world or use your current location.
    .row
      .col-xs-12.text-left
        form(name="locationInput")
          input.form-control(type="text", name="location", ng-model="search.location", required="", placeholder="Location to find GeoTweets", typeahead="location for location in queryLocations($viewValue)", typeahead-loading="loadingLocations", autocomplete="off", autofocus, ng-blur="getGeo(search.location)")
          i.glyphicon.glyphicon-refresh(ng-show="loadingLocations")
    .row
      .col-xs-12.text-center
        p.or Or
        button.search-form-btns(tabindex='-1', type="button", ng-click="getCurrentLocation()", ng-disabled="search.retrievingCurrentLoc") 
          span.glyphicon.glyphicon-globe
          |&nbsp{{search.useCurrentLocation}}
    hr
    .row
      .col-xs-12
        form(name="searchForm")
          .row.text-left
            .col-xs-6
              .form-group
                label(for="latitude") Latitude
                input#latitude.form-control(type="text", name="lat", ng-model="search.latitude", required="", disabled="disabled")
            .col-xs-6
              .form-group
                label(for="longitude") Longitude
                input#longitude.form-control(type="text", name="lng", ng-model="search.longitude", required="", disabled="disabled")
          .row.text-left
            .col-xs-6
              .form-group
                label(for="the-radius") Radius
                .input-group#the-radius
                  input.form-control(type='text', required="", placeholder="Ex:'5'", ng-model="search.radius")
                  .input-group-btn
                    button.btn.btn-default(tabindex='-1', type='button', disabled="disabled") {{search.radiusUnit}}
                    button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu.pull-right.radius-unit
                      li
                        button(tabindex='0', ng-click="changeRadiusUnit('Km')").btn.btn-default Km
                      li
                        button(tabindex='0', ng-click="changeRadiusUnit('Mi')").btn.btn-default Mi
            .col-xs-6
              .form-group
                label(for="tweet-count") Count
                select.form-control#tweet-count(name='total-tweets', ng-model="search.count", ng-options="obj.value as obj.label for obj in counts")

          hr
          .row
            .col-xs-12.text-left
              h5 Twitter Search Query (Not Required):
              input.form-control(type="text", name="query", ng-enter="submitSearch()", ng-model="search.query", placeholder="from:jimcramer #MSFT")
              span.help-block.text-left Your Search Query - A UTF-8, URL-encoded search query of 1,000 characters maximum, including operators. Queries may additionally be limited by complexity. Example: @noradio.
                a(href="https://dev.twitter.com/docs/using-search", target="_blank") &nbspNeed Help?

          .row
            .col-xs-12.text-center
              button.search-form-btns(ng-disabled="searchForm.$invalid || submittingSearch", type="submit", ng-click="submitSearch()") 
                span.glyphicon.glyphicon-search
                |&nbspSearch Twitter 
    .row
      .col-xs-12
        h5
          | This search will return the {{search.count}} most recent tweets matching the search criteria.
