<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="/cool">Contact</a></li>
  </ul>
  <h3 class="text-muted">location to latlong</h3>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <form name="locationInput">
      <input type="text" name="location" class="form-control" ng-model="address" required placeholder="Location to Retrieve Lat / lng">
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <p><button class="btn btn-sm btn-success" ng-href="#" ng-disabled="locationInput.$invalid" ng-click="getGeo(address)">Get Lat/Lng</span></button></p>
  </div>
</div>

<div class="row">
  <form name="latlng">
    <div class="col-xs-6">
      <input type="text" name="lat" class="form-control" ng-model="latitude" required placeholder="Latitude" disabled="disabled">
    </div>
    <div class="col-xs-6">
      <input type="text" name="lng" class="form-control" ng-model="longitude" required placeholder="Longitude" disabled="disabled">
    </div>
  </form>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <p><button class="btn btn-sm btn-success" ng-href="#" ng-disabled="latlng.$invalid" ng-click="createMarker(latitude,longitude)">Create Marker</span></button></p>
  </div>
</div>
  


<div class="row">
  <div class="col-xs-12">
    <google-map center="map.center" zoom="map.zoom" draggable="true">
      <markers models="map.mapMarkers.markers" coords="'self'" click="'onClicked'" fit="true" icon="'icon'" options="map.mapMarkers.markerOptions">
        <!-- <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
          <div style="width:100px; height:100px" ng-non-bindable>
            <p ng-non-bindable style="font-weight:bold">{{address}}</p>
            <p ng-non-bindable>Lat: {{latitude}}</p>
            <p ng-non-bindable>Lng: {{longitude}}</p>
          </div>
        </windows> -->
      </markers>
      <windows models="map.mapMarkers.markers" coords="'self'" show="true" closeClick="'closeClick'" ng-cloak>
          <div style="width:100px; height:100px" ng-non-bindable>
            <p ng-non-bindable style="font-weight:bold">{{address}}</p>
            <p ng-non-bindable>Lat: {{latitude}}</p>
            <p ng-non-bindable>Lng: {{longitude}}</p>
          </div>
      </windows>
      <!-- <window ng-cloak show="true" ng-repeat="m in map.mapMarkers.markers" isIconVisibleOnClick="false" options="">
                <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                <p>{{m.address}}</p>
      </window> -->
      <!-- <marker ng-repeat="m in map.mapMarkers.markers" coords="m" icon="m.icon">
        <marker-label content="m.address" anchor="22 0" class="marker-labels"/>
            <window ng-cloak isIconVisibleOnClick="false" options="">
                <!-- <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                <p class="muted">My marker will stay open when the window is popped up!</p>
            </window>
      </marker> -->
    </google-map>
  </div>
</div>


