extends layout

block content
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .row.first-info
        .col-xs-12.text-center
          .panel.panel-info.info-description
            #main-panel-info
              h1 About MapTweet.Info
            h5.main-info.text-left
              | This app uses your twitter authentication to make twitter API search requests.
            h5.main-info.text-left
              | The app requires twitter authentication since twitter API v1.1 requires user tokens when requesting tweets using 
              a(href="http://en.wikipedia.org/wiki/Geolocation") geolocation
              |.
              //- | If there are geoTweets (tweets that have a latitude and longitude), they will be visualized on a map.
            .container-fluid
              .row
                .col-xs-12
                  img.thumb-img-focus(src="img/maptweet-info-ss.png").img-responsive.img-thumbnail
              .row.thumb-row
                .col-xs-6
                  a(href="#").thumbnail.thumb-img
                    img(src="img/maptweet-info-ss.png").img-responsive.img-thumbnail
                .col-xs-6
                  a(href="#").thumbnail.thumb-img
                    img(src="img/maptweet-search-ss.png").img-responsive.img-thumbnail
            .row.text-center.login-row
              a(href="/auth/twitter").twitter-login-btn 
                i.fa.fa-twitter &nbspSign in with Twitter
            .row
            h3 Author:
            h4
              a(href="http://www.twitter.com/hartzis") @hartzis
            h3 Github:
            h4
              a(href="https://github.com/hartzis/MapTweet.info", target="_blank") Fork me on Github
            ul.share-buttons
              li
                a(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.maptweet.info', target='_blank')
                  i.fa.fa-facebook-square.fa-2x
              li
                a(href='https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.maptweet.info&text=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App: http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Tweet')
                  i.fa.fa-twitter-square.fa-2x
              li
                a(href='https://plus.google.com/share?url=http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Share on Google+')
                  i.fa.fa-google-plus-square.fa-2x
              li
                a(href='http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.maptweet.info&t=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App&s=', target='_blank', title='Post to Tumblr')
                  i.fa.fa-tumblr-square.fa-2x
              li
                a(href='http://www.reddit.com/submit?url=http%3A%2F%2Fwww.maptweet.info&title=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App', target='_blank', title='Submit to Reddit')
                  i.fa.fa-reddit-square.fa-2x
              li
                a(href='http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.maptweet.info&title=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App&summary=This%20web%20application%20allows%20you%20to%20search%20for%20tweets%20at%20any%20given%20location!%20You%20can%20visualize%20all%20tweets%20that%20have%20the%20twitter%20geolocation%20option%20enabled.&source=http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Share on LinkedIn')
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href='mailto:?subject=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App&body=This%20web%20application%20allows%20you%20to%20search%20for%20tweets%20at%20any%20given%20location!%20You%20can%20visualize%20all%20tweets%20that%20have%20the%20twitter%20geolocation%20option%20enabled.: http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Email')
                  i.fa.fa-envelope.fa-2x