doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="shortcut icon", href="ico/favicon.ico")
    title Globally LookUp Tweets
    // Bootstrap core CSS
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    // Custom styles for this template
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    // custom css
    link(rel="stylesheet", href="styles/main.css")
  body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Globally LookUp Tweets
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#/") Search 
                span.glyphicon.glyphicon-search       
            li: a(href="#") About
            li
              a#history-link(href="#/history")
                img.profile-image(src=twitter_user.profile_image_url)
                //- span &nbsp@
                //- span.profile-name=twitter_user.screen_name
            li: a(href="/auth/logout") Sign Out 
              span.glyphicon.glyphicon-remove

    // angular inject views
    .container-fluid(ng-view="")


    // required for bootstrap
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js") 
    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js")
    // angular src
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js")
    // bootstrap angular directives
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js")
    // angular ui map dependencies
    script(src="//rawgithub.com/angular-ui/ui-utils/master/modules/event/event.js")
    script(src="//angular-ui.github.io/ui-map/dist/ui-map.min.js")

    // load angular app
    script(src="js/min/app.min.js")
    // load google maps api
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA8ak6xOdL_E2nLh8Y527YroGYoGk_J420&sensor=FALSE&callback=onGoogleReady")

