doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type="text/javascript").
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement("style");
          msViewportStyle.appendChild(
              document.createTextNode(
                  "@-ms-viewport{width:auto!important}"
              )
          );
          document.getElementsByTagName("head")[0].
              appendChild(msViewportStyle);
      }
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="shortcut icon", href="ico/favicon.ico")
    title MapTweet.Info
    // Bootstrap core CSS
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    // Custom styles for this template
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    // custom css
    link(rel="stylesheet", href="styles/main.css")
  body
    .navbar.navbar-inverse.navbar-static-top(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") MapTweet.
            strong Info
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href="#/") 
                span.glyphicon.glyphicon-search
                |&nbspSearch 
            li: a(href="#/about") About
          ul.nav.navbar-nav.navbar-right
            li: a(href="#/history") Search History: @#{twitter_user.screen_name}
            li: a(href="/auth/logout") Sign Out 
              span.glyphicon.glyphicon-remove

    // angular inject views
    .container-fluid#main-app-div(ng-view="")

    //footer
    footer.site-footer.text-center
      ul.share-buttons
        li
          a(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.maptweet.info', target='_blank')
            i.fa.fa-facebook-square.fa-2x
        li
          a(href='https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.maptweet.info&text=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App: http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Tweet')
            i.fa.fa-twitter-square.fa-2x
        li
          a(href='https://plus.google.com/share?url=http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Share on Google+')
            i.fa.fa-google-plus-square.fa-2x
        li
          a(href='http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.maptweet.info&t=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App&s=', target='_blank', title='Post to Tumblr')
            i.fa.fa-tumblr-square.fa-2x
        li
          a(href='http://www.reddit.com/submit?url=http%3A%2F%2Fwww.maptweet.info&title=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App', target='_blank', title='Submit to Reddit')
            i.fa.fa-reddit-square.fa-2x
        li
          a(href='http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.maptweet.info&title=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App&summary=This%20web%20application%20allows%20you%20to%20search%20for%20tweets%20at%20any%20given%20location!%20You%20can%20visualize%20all%20tweets%20that%20have%20the%20twitter%20geolocation%20option%20enabled.&source=http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Share on LinkedIn')
            i.fa.fa-linkedin-square.fa-2x
        li
          a(href='mailto:?subject=MapTweet.Info%20-%20Interactive%20Geographic%20Tweet%20Visualization%20App&body=This%20web%20application%20allows%20you%20to%20search%20for%20tweets%20at%20any%20given%20location!%20You%20can%20visualize%20all%20tweets%20that%20have%20the%20twitter%20geolocation%20option%20enabled.: http%3A%2F%2Fwww.maptweet.info', target='_blank', title='Email')
            i.fa.fa-envelope.fa-2x





    // required for bootstrap
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js") 
    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js")
    // angular src
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js")
    // bootstrap angular directives
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js")
    // angular ui map dependencies
    script(src="//rawgithub.com/angular-ui/ui-utils/master/modules/event/event.js")
    script(src="//angular-ui.github.io/ui-map/dist/ui-map.min.js")

    // load angular app
    script(src="js/min/app.min.js")
    // load google maps api
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA8ak6xOdL_E2nLh8Y527YroGYoGk_J420&sensor=FALSE&callback=onGoogleReady")

