body {
  /*padding-top: 50px;*/
  background-color: #f5f5f5;
}
.navbar {
  margin-bottom: 0px;
}

/* about */
#main-panel-info {
  color: #31708f;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 15px;
}
.main-info {
  padding: 0 20px;
}

/* for footer */
#main-app-div {
  min-height: 100%;
  margin-bottom: -75px;
}
.site-footer, #main-app-div:after {
  height: 75px;
}
.site-footer {
background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#222), to(#3c3c3c));
background-image: -webkit-linear-gradient(#222 0%, #3c3c3c 100%);
background-image: -moz-linear-gradient(#222 0%, #3c3c3c 100%);
background-image: -o-linear-gradient(#222 0%, #3c3c3c 100%);
background-image: linear-gradient(#222 0%, #3c3c3c 100%);
}
.share-buttons{
  list-style: none;
  padding: 20px 0;
}
.share-buttons li{
  display: inline;
  margin: 5px;
}
.share-buttons>li>a {
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: #999;
}
.share-buttons>li>a:hover {
color: #fff;
background-color: transparent;
}

/* search form extras */
.ng-dirty.ng-invalid {
  border-color: #FF0000;
  /*box-shadow: 3px 3px 5px 6px #FF0000;*/
}
/*.ng-valid{
  border-color: #00dd00;
}*/
.or {
  margin: 0;
}
hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.search-form-btns {
  font-size: 13px;
  padding: 5px 20px;
  border: 0;
  border-radius: 35px;
  background-color: #55acee;
  color: white;
}

.search-form-btns:hover {
  background-color: #006daa;
  color: white;
  text-decoration: none;
}
.search-form-btns[disabled], .search-form-btns[disabled]:hover {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
}

/* tweets/results */
.profile-img {
  padding: 5px 0;
}
.all-tweets {
  padding: 10px 0;
}
.tweet {
  margin: 3px -12px;
}
.results-filter {
  padding: 10px;
}
.radius-unit {
  padding: 0 0;
}
.radius-unit button{
  width: 100%;
  border-radius: 0;
}
.nav-tabs>li {
  cursor: pointer;
}
.nav-tabs>li.active>a {
  background-color: #eee;
}
.nav-tabs>li.active>a:hover {
  background-color: #eee;
}
.tab-content>.active {
  background-color: #eee;
}
.tweet-container-info-box {
  width: 350px;
}
.geo-tweet {
  cursor: pointer;
}
.geo-tweet:hover {
  background-color: rgb(211,232,246);;
}
.tweet-globe-row{
  position: relative;
}
.tweet-globe {
  position: absolute;
  top: -16px;
  right: 3px;
}

/* history menu */
.history-menu {
  min-width: 110px;
}
.history-well {
  padding: 5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*.history-well:last-child {
  margin-bottom: 60px;
}*/
.history-menu {
  cursor: pointer;
}
.label-default {
  font-weight: 0;
}
.label {
  font-size: 90%;
}
.history-filter {
  margin-bottom: 10px
}

/* Map CSS */
.map-canvas { 
  height: 440px;
  /*border: 2px solid #eee;*/
  /*margin: 5px;*/
}
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
    display:none !important;
}
.map-container {

}

/*
 * Glyph refresh placement
*/
.glyphicon-refresh {
  position: absolute;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -33%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 33%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 33%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%; /* 6 columns */
  }
}

/* sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 5px;
  padding-left: 15px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/* windows phone fix */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
