body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

/* search form extras */
.or {
  margin: 0;
}
hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* tweets */
.tweets {
  padding: 0;
}
.radius-unit {
  padding: 0 0;
}
.radius-unit button{
  width: 100%;
  border-radius: 0;
}
.nav-tabs>li {
  cursor: pointer;
}
.nav-tabs>li.active>a {
  background-color: #eee;
}
.nav-tabs>li.active>a:hover {
  background-color: #eee;
}
.tab-content>.active {
  background-color: #eee;
}

/* history menu */
.history-menu {
  min-width: 110px;
}
.history-well {
  padding: 5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.history-menu {
  cursor: pointer;
}
.label-default {
  font-weight: 0;

}

/* Map CSS */
.map-canvas { 
  height: 500px;
  /*border: 2px solid #eee;*/
  /*margin: 5px;*/
}
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
    display:none !important;
}

/*
 * Glyph refresh placement
*/
.glyphicon-refresh {
  position: absolute;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -33%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 33%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 33%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%; /* 6 columns */
  }
}

/* sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 5px;
  padding-left: 15px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/* windows phone fix */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
