img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/*
  Setup default link colors to match twitter login colors
 */
a {
  color: #55acee;
}

a:hover {
  color: #006daa;
}

.thumb-row {
  margin-top: 15px;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
h1 {
  margin-top: 0px;
}
.info-description {
  background-color: rgba(255,255,255,.7);
  border: 2px solid #fff;
}
.first-info {
  margin-top: 25px;
}
.main-info {
  padding: 0 20px;
}
.last-info {
  margin-bottom: 15px;
}
#main-panel-info {
  /*background-color: rgba(217,237,247,0.55);*/
  color: #31708f;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 15px;
}
.login-row {
  margin: 25px;
  margin-top: 30px
}
.twitter-login-btn {
  font-size: 16px;
  padding: 8px 20px;
  border: 0;
  border-radius: 35px;
  background-color: #55acee;
  color: white;
  /*font-size: 1.2em;*/
}

.twitter-login-btn:hover {
  background-color: #006daa;
  color: white;
  text-decoration: none;
}

.share-buttons>li>a:hover {
  color: #000;
  background-color: transparent;
}

/*
  Demo Gif label and image
 */
#demo-label {
  left: -40%;
  position: relative;
  background-color: #FCBA44;
}

#demo-gif {
  border: 2px solid #FCBA44;
}